body {
  background-color: #f5f5f5;
}
.App {
  background-color: #f5f5f5;
  justify-content: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
.inputForm {
  padding-top: 25px;
  padding-left: 25%;
  padding-right: 25%;
}

.chart {
  height:60vh;
  padding-top: -10px;
  /* height: 450px; */
  padding-left: 15%;
  padding-right: 15%;
}

.form-radio {
  display: flex;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 20px;
}
.input {
  outline: none;
}
.input:hover,
.input:focus,
.input:active {
  border-color: none;
}
.input:focus {
  border-color: rgba(26, 55, 77, 0.8);
  box-shadow: none;
  outline: 3px solid rgba(26, 55, 77, 0.4);
}
.radio-input:focus {
  box-shadow: none;
}

input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -3px;
  left: -2px;
  position: relative;
  background-color: rgb(26, 55, 77);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


@media screen and (max-width: 1000px) {
  .form-radio {
    display: block;
    padding-left: 40%;
  }
  .chart {
    /* height: 300px; */
    padding-left: 0%;
    padding-right: 0%;
  }
  .inputForm {
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
  }
}